*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img:not([alt]){
    border: 3px solid red;
}
a::after[href$=".pdf"]{
    content: url(../img/pdf.png); 
   
    
}
/* -----------------------MEDIA QUERIES--------------------- */

  @media only screen and (mix-width: 480px) and (max-width: 767px) {
    
    /* INDEX */
    .articulo>div{
    width:100%;
    height: 300px;
    background-image: url("../img/fotoPadel.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
.logo>img{
    float:left;
    width: 100px;
    padding-top: 10px;
  }
  nav {
    max-width: 767px;
    margin: 0 auto;
}
div.navCategorias{
    padding: 10px, 0px;
    display: flex;
    width: 80%;
    text-align: center; 
}
.navCategorias>ul>li{
    justify-content: center;
display: flex;
flex-wrap:wrap;
}

}
@media only screen and (mix-width: 768px) and (max-width: 940px) {
    /* INDEX */
    .articulo>div{
        width:100%;
        height: 400px;
        background-image: url("../img/fotoPadel.jpg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        background-attachment: fixed;
    }
    .logo>img{
        float:left;
        width: 150px;
        padding-top: 10px;
      }
      nav {
        max-width: 940px;
        margin: 0 auto;
    }
    div.navCategorias{
        padding: 10px, 0px;
        display: flex;
        width: 70%;
        text-align: center; 
    }
    .navCategorias>ul>li{
        justify-content: center;
        display: flex;
    flex-wrap:wrap;
    }
} 

/* ----------------------------------------INICIO NAV----------------------------------- */
header{
    top: 0px;
    position: fixed;
    width: 100%;
    height: 70px;  
    background-color: rgba(31,48,131,255)
}

.logo>img{
    float:left;
    width: 300px;
    padding-top: 10px;
  }

nav {
    max-width: 1024px;
    margin: 0 auto;
}

div.navCategorias{
    padding: 10px, 0px;
    float:right;
    width: 50%;
    text-align: center;
    vertical-align: top;
}

div.navCategorias>ul>li  {
    list-style-type: none;
    padding: 0px;
    display: inline;
    text-align: center;
}
.navCarrito>i:hover {
    -webkit-box-shadow: 0px 10px 52px 15px rgba(0,0,0,0.97);
    -moz-box-shadow: 0px 10px 52px 15px rgba(0,0,0,0.97);
    box-shadow: 0px 10px 52px 15px rgba(0,0,0,0.97);
}

div.navCategorias>ul>li>a{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 10px;
    font-family: 'Geo', sans-serif;
    text-align: center;
}


div.navCategorias>ul>li>a:hover{
    text-decoration: none;
    color: yellow;
    
    
  }

.formYLupa{
    float:right;
    width: 15%;
    padding-top: 20px;
    padding-left: 20px;
}

form.bloqueForm{
    background-color: rgba(4,121,160,255); 
}

form.bloqueForm>input{
    font-family: 'Geo', sans-serif;
    border-radius: 5px;
    background-color: rgba(255,255,255,255);
    border:0;
    outline:none;
    width: calc(100% - 30px);
    float:left;
    padding:5px;
}

.lupa>i{
    color:white;
    float:right;
    font-size: 1.6em;
}

/* ----------------------------------------INICIO BODY----------------------------------- */

body {
    background-color: white;
}
body>header{
    background-color: rgba(31,48,131,255)
}

section{
    width: 100%;
}
.articulo>div{
    width:100%;
    height: 610px;
    background-image: url("../img/fotoPadel.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
.info-box{
    background-color: #1C1D22;
    margin: 0px auto;
    padding: 110px 0 110px 0;
    color: white;
    text-align: center;
  }
  .info-box h2{
    margin-bottom: 30px;
  }
  #flex-p{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  #flex-p p{
    padding: 30px;
    max-width: 300px;
  }
.fa-star, .fa-thumbs-up, .fa-check{
    font-size: 2.7em;
    display: block;
    color: white;
    margin-bottom: 30px;
  }

p{
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}


/*   -----------------------BLOG----------------------------------------- */
.mainBlog{
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    padding:100px;

}
.aside{
    width: 40%;
    float: left;
    background-color: rgba(31,48,131,.60);
    padding: 30px;
    font-size:1.2em;
    color:white;

  }
  .aside>ul{
    list-style: circle inside;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    
  }
  .aside>ul>li>a{
    text-decoration:none ;
  }
  
  .aside>ul>li>a:link{
      color:pink;
  }
  .aside>ul>li>a:hover{
      
      text-shadow: 3px 3px 2px black;
  }
  .aside>ul>li>a:active{
      color:green;
  }
  .aside>ul>li>a:visited{
    color:grey;
}
  .aside>ul>li>a{
      color:white;
      
  }
  .section{
      width:60%;
      float: right;
      padding-left:20px;
  }

  .articuloPrincipal{
    position: relative;
    display: inline-block;
    text-align: center;
    
  }
  .articuloPrincipalTexto{
    position: absolute;
    top: 0px;
    background-color: rgba(31,48,131,.90);
    color:white;
    width: 590px;
  height: 150px;
  overflow:scroll;
  }

  .articuloPrincipalTexto>p{
    margin:20px;
  }
  .centradoTexto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section2{
    clear: both;
    padding:20px;
    width: 100%;
    text-align: center;
  }
  
  .entradas{
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
  }
  .entradas>div{
    width: 300px;
    height: 200px;
    color: white;
    text-align: center;
    line-height: 150px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(../img/palablog.jpg);
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }
  
  .entradas>div:hover{
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    background: rgba(255, 255, 255, 100) url(../img/palablog.jpg);
    border-color: white;
    border-color: #000;
    color:orange;
  }
  .mapa{
      width:100%;  
      font-family: 'Source Sans Pro', sans-serif;
  }
  .video>video{
      width: 300px;
      height: 200px;
  }

  #btn0,#btn1,#btn2,#btn3{
      width: 100px;
      height: 60px;
      background-color: white;
      font-size:14px;
      color:blue;
      border-radius: 20px;
      border-width: 4px;
  }

  .textoAnimado
    {
        animation-duration: 6s;
        animation-name: animadoTexto;
        margin: 20px;
      }
      
      @keyframes animadoTexto {
        from {
          margin-left: 100%;
          width: 100%;
        }
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
      
  
 /* ---------------------SERVICIOS------------------------------ */
caption{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.7em;
    color:black;
    caption-side: bottom;
}
.enlacePdf{
    text-decoration:none ;
    color:orange;
}
.mainServicios{
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    padding:100px;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    text-align: center;
}
.table{
    background: rgba(0,0,0,.90) url(../img/moqueta.jpg);
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
    color:white;
    margin-left: 20px;
    margin-right:20px;
    border-radius: 20px 20px 20px 20px;
    
}

tr:first-child { 
    background-color: rgba(0,0,0,.90); 
    
} 

tr:nth-child(odd):not(:first-child){
    background-color: rgba(31,48,131,.90);
    color:white;
}

tr:nth-child(even){
    background-color: rgba(255,255,0,.90);
    color:black;

}
tr:first-of-type td:first-child {
    border-top-left-radius: 20px;    
}

tr:first-of-type td:last-child {
    border-top-right-radius: 20px;    
}

tr:last-of-type td:first-child {
    border-bottom-left-radius: 20px;    
}

tr:last-of-type td:last-child {
    border-bottom-right-radius: 20px;    
}
.main>h1{
    text-align: center;
    color:black;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom:20px;
}
/* -----------------------FORMULARIO--------------------------- */
.mainContacto{
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
}
.mainContacto>h1{
    color:white;
}
.formC{
    width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
  }
  .subtitulo>h2{
      background-color: rgba(0,0,0,.90);
      color:white;
  }
  .fieldset {
	background-image: url(../img/registro.jpg);
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
}

.fieldset input, .fieldset textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	color: #2C3E50;
	font-size: 13px;
}

.botonForm {
	width: 100px;
	background: orange;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}
.botonForm:hover{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}



  
  
  
  
  
  
  
  

/* -----------------------------------------INICIO FOOTER-------------------------------------------- */
footer{
    background-color: rgba(31,48,131,255);
    width:100%;
    overflow: hidden;
    clear:both;
}

.infFooter{
    float:left;
    text-align:center;
    padding-left: 40px;
}

.infFooter>h3{
    color:white;
}

.infFooter>p{
    color:white;
    padding: 20px,20px;
}


.metodosPago{
    float:right;
    text-align: center;
    padding-top: 10px;
    padding-right: 40px;
}

.metodosPago>h3{
    color:white;
}

.RRSS{
    float:right;
    text-align: center; 
    padding-top: 10px;
    padding-right: 40px;
}

.RRSS>h3{
    color:white;
}

.metodosPago>a{
    padding: 20px,20px;
    font-size: 1.6em;
    color:white;
    -webkit-transition: 1s linear;
  transition: 1s linear;
}
.metodosPago>a:hover{
    color:yellow;
}

.RRSS>a{
    padding: 20px,20px;
    font-size: 1.6em;
    color:white;
    -webkit-transition: 1s linear;
  transition: 1s linear;
}
.RRSS>a:hover{
    color:yellow;
}

#whatsIcon {
	/*display: block;*/
	position: fixed;
  bottom: 10px;
	right: 10px;
}